.main {
  padding: 16px 24px;
  min-height: calc(100vh - 64px - 16px * 2);
  max-width: 640px;
  margin: 0 auto;
}

.item {
  max-width: 600px;
  margin: 8px 20px;
}

.submitBtn {
  margin-top: 16px;
  display: block;
}

.footer {
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #aaa;
}

.footer a {
  color: #aaa;
  text-decoration: none;
}
